{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <h1>{{ titre }}</h1>
    {# Parcours de la variable etudiants #}
    <h3>Parcours de la variable etudiants</h3>
    {% for etudiant in etudiants %}
        <p>{{ etudiant.prenom }} {{ etudiant.nom }}</p>
    {% endfor %}

    <h3>Affichage Dump pour debug de variable</h3>
    {# Test de la variable etudiants #}
    {{ dd(etudiants) }}

{% endblock %}

